@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<a class="btn btn-primary" href="/Movies/New">New Movie</a>

<table class="table table-bordered table-hover mt-2">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td><a href="/Movies/Edit/@movie.Id">@movie.Name</a></td>
            <td>@movie.MovieGenreType.Name</td>
        </tr>
    }
    </tbody>

</table>

