@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<a class="btn btn-primary mb-2" href="/Movies/New">New Movie</a>

<table id="movies" class="table table-bordered table-hover table-striped" cellspacing="0px">
    <thead>
    <tr>
        <th>Movie</th>
        <th>Genre</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#movies").DataTable(
                {
                    ajax: {
                        url: "/api/movies",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name",
                            render: function(data, type, movie) {
                                return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                            }
                        },
                        {
                            data: "movieGenreType.name"
                        },
                        {
                            data: "id",
                            render: function(data) {
                                return "<button class='btn btn-danger btn-sm js-delete' data-movie-id=" +
                                    data +
                                    ">Delete</button>";
                            }
                        }
                ]
                });

            $("#movies").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure yow want to delete this movie?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/movies/" + button.attr("data-movie-id"),
                                    method: "DELETE",
                                    success: function() {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        })
    </script>
}
