@model Vidly.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<div class="form-group">
    <fieldset>
        <label for="membershipType" class="col-sm-2 col-form-label">Membership Type</label>
        <div class="col-sm-10">
            <input class="form-control" id="membershipType" type="text" placeholder="@Model.MembershipType.Name" disabled="" />
        </div>
    </fieldset>
</div>
@if (@Model.BirthDate.HasValue)
{
    <div class="form-group mb-2">
        <fieldset>
            <label for="birthDate" class="col-sm-2 col-form-label">Birthdate</label>
            <div class="col-sm-10">
                <input class="form-control" id="birthDate" type="text" placeholder="@Model.BirthDate.Value.ToString("dd/MM/yyyy")" disabled="" />
            </div>
        </fieldset>
    </div>
}
